* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #fff;
}
.header-container {
	position: sticky;
	margin: 0 0 15px;
	z-index: 1;
	box-shadow: 0 1px 5px #eee;
	top: 0;
}
#yti {
	width: 60px;
}
div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.wrapper { 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 75em;
	padding: 8px 5px;
}
.ham-icon {
	float: left;
	width: 60px;
}
#left-nav-image{
	float: left;
	margin-left: 10px;
}
.search-bar {
    flex-basis: 45em;
    margin: 0 40px;
    align-items: stretch;
}
form {
	display: flex;
	flex-basis: 100%;
}
input {
	flex-basis: 100%;
	width: 100%;
	padding: 6px;
	border: 1px solid #ccc;
	border-right: none;
}
button {
	display: flex;
}
/* button img {
	width: 13px;
	height: 13px;
} */
#right-nav-image {
    float: right;
	margin-right: 5px;
}
#right-nav-image img {
	margin-left: 20px;
}
div img {
	float: left;
    width: 30px;
    display: block;
}

#mag {
    width: 65px;
    background-color: #d3d3d3;
}


#sidebar {
    flex-direction: column;
    flex-basis: 40%;
    padding: 0 15px;
}

.thumbs {
	float: left;
	margin-bottom: 50px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.thumb-image {
    flex-direction: column;
    flex-basis: 30%;
    height: 100px;
    margin: 0 0 10px;
}

.thumb-image img{

	width: 200px;
	display: block;
}

/*




#mag img{
	width: 20px;
	height: 20px;
}
*/